<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to follows_user_path(user.id) do %>
        <%= user.followeds.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to follower_user_path(user.id) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>

<% if user != current_user %>
  <% if user.followed_by?(current_user) %>
    <%= link_to "フォロー外す", relationships_path(user.id), method: :delete, class:"btn btn-info" %>
  <% else %>
    <%= link_to "フォローする", relationships_path(user.id), method: :post, class:"btn btn-success" %>
  <% end %>
  <% if current_user.follow_each_other?(user) %>
    <%= link_to "Chatを始める", chat_path(params[:id]) %>
  <% end %>
<% else %>

  <div class='row'>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% end %>