<h1><%= @user.name %> さんとのチャット</h1>

<%= form_with model:@chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user == current_user %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>